*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --light-green: #57C5B6;
  --dark-green: #159895;
  --light-blue: #1A5F7A;
  --dark-blue: #002B5B;
  --light-text: #f8f8f8;
  --dark-text: #181818;
  --error-msg: #CD113B;
  --light-grey: #808080;
}

.App{
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
    .app_wrapper{
        background:#f6f6f6;
        padding: 0.6em;
   width:90%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  //  align-items: center;
.link{
  text-decoration: none;
  color: inherit;
}
// LOGIN AND REGISTER STYLING
.auth_container{
  // background: lime;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth_wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items:center ;
    // background: blue;
    padding: 2em;
    // width:50%;
    .auth_title{
      h2{
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
      }
      p{
        font-size: 14px;
        .term_redirect{
          text-decoration: underline;
          text-underline-offset: 2px;
        
        }
      }
    
    }
    .auth_form{
      form{
        display:flex;
        flex-direction: column;
        gap: 0.4em;
        justify-content: space-evenly;
        label{
          font-size: 18px;
          margin: 0.3em 0;
        }
        input{
          border: none;
          border: 1px solid var(--dark-blue);
          width: 24rem;
          height: 2.5em;
          outline: none;
          font-size: 16px;
          padding: 0.4em;
          border-radius: 2px;
          background: #f8f8f8;
          // border-left: 1px solid var(--dark-blue);
        }
        .error_message{
          color:var(--error-msg);
          margin: 0.3em 0;
          display: none;
        }
        // button{
        //   // border: none;
        //   // width: max-content;
        //   // padding:0.4em;
        //   // border-radius: 2px;
        //   // border: 1px solid var(--light-blue);
        //   // background: var(--light-blue);
        //   // color: var(--light-text);
        //   // cursor: pointer;
        //   // h6{
        //   //   font-size: 16px;
        //   // font-weight: 300;
        //   // }
        // }
        .btn {
          margin-top: 0.8em;
          font-size: 17px;
          background: transparent;
          border: none;
          border-left: 1px solid var(--dark-blue);
          border-right: 1px solid var(--dark-blue);
          border-radius:4px;
          padding: 1em 1.5em;
          color: var(--dark-text);
          text-transform: uppercase;
          position: relative;
          transition: .5s ease;
          cursor: pointer;
          width: max-content;
          
        }
        
        .btn::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 2px;
          width: 0;
          background-color: var(--dark-blue);
          transition: .5s ease;
          
        }
        
        .btn:hover {
          color: var(--light-text);
          transition-delay: .5s;
          z-index: 1;
          border-left: 1px solid var(--dark-blue);
          border-right: 1px solid var(--dark-blue);
          border-radius:4px;
        }
        
        .btn:hover::before {
          width: 100%;
        }
        
        .btn::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: var(--dark-blue);
          transition: .4s ease;
          z-index: -1;
        }
        
        .btn:hover::after {
          height: 100%;
          transition-delay: 0.4s;
        }
       
        // align-items: center;
      }
      .redirect{
        margin: 0.8em 0;
        span{
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }
}
  //  NAVBAR STYLING
   .nav_container{
// background: firebrick;
margin: 1rem 0;
padding: 0.4rem;
.nav_wrapper{

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    .logo{
      flex:1;
      display: flex;
      align-items: baseline;
      .logo_dot{
        height:10px;
        width:10px;
        // border-radius: 50%; 
        margin: 0 0.2em;
        background: var(--dark-green);
      }
    }
    .links{
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6{
        font-size: 16px;
        font-weight: 300;
      }
      .link{
        &:hover{
          text-decoration: 2px solid underline;
          text-underline-offset: 4px;
        }
      }
      span{
        display: flex;
        gap: 1rem;
        justify-content: space-around;
      }
      .write{
        background: var(--light-blue);
        border-radius: 50%;
        padding:0.6em;
        height: 3.5em;
        width:3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
          transition: 0.4s;
background: var(--dark-blue);
color: var(--light-text);
        }
        .link{
          text-decoration: none;
        }
      }
    }
  }
}
   }

// HOME STYLING
.home_container{
  width: 100%;
  margin: auto;
  position: relative;
    .blog_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3em;
      .blog{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;
padding: 0.8em;
// background: teal;
&:nth-child(2n+1){
  flex-direction: row-reverse;
}

        .content{
         flex:3;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
        gap: 1em;
        h1{
          font-size: 48px;
        }
         
          p{
font-size: 18px;
text-align: justify;
          }
          button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            background: transparent;
            padding: 0;
            font-size: inherit;
            font-family: inherit;
           }
           
           button.learn-more {
            width: 12rem;
            height: auto;
           }
           
           button.learn-more .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: var(--light-blue);
            border-radius: 1.625rem;
           }
           
           button.learn-more .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: var(--light-text);
           }
           
           button.learn-more .circle .icon.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
           }
           
           button.learn-more .circle .icon.arrow::before {
            position: absolute;
            content: "";
            top: -0.29rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid var(--light-text);
            border-right: 0.125rem solid var(--light-text);
            transform: rotate(45deg);
           }
           
           button.learn-more .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: var(--dark-blue);
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
           }
           
           button:hover .circle {
            width: 100%;
           }
           
           button:hover .circle .icon.arrow {
            background:var(--light-text);
            transform: translate(1rem, 0);
           }
           
           button:hover .button-text {
            color: var(--light-text);
           }
        }
        .blog_image{
          flex: 2;
          img{
max-height: 400px;
width:100%;
object-fit: cover;
          }
        }
      }
    }
  
}

// SINGLE POST STYLING
.container{
  display: flex;
  gap:4em;
  .content{
    flex:5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    .content_img{
      position: relative;
    
   
      img{
        width:100%;
        height: 300px;
        object-fit: cover;
        border: none;
        border-radius: 4px 4px 0 0;
      }
      .user_1{
        position: absolute;
        bottom:-3em;
        left:1em;
        img{
          height: 6em;
          width: 6em;
          border: 4px solid var(--light-text);
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .user{
      display:flex;
      gap:2em;  
      // background: teal;
      width:70%;
      margin: auto;
      // justify-content: space-between;
      align-items: center;
      .user_desc{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap:0.4em;
        h5{
          font-size: 18px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      .edit{
        display: flex;
        align-items: center;
        // background: teal;
        // width:4em;
        gap:2em;
        // justify-content: space-around;
  
a{
  background: var(--light-blue);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius:50%;
  color:var(--light-text)
}
.trash{
  // color: var(--dark-text);
  background: #d43434;
}
      }
      img{
        height: 4em;
        width: 4em;
        border: none;
        border-radius: 50%;
        object-fit: cover;
      }
    }
 .body_section{
  width:100%;
  h1{
    font-size:48px;
    font-weight: 800;
    color: var(--dark-blue);
  }
  span{
text-align: justify;
line-height: 30px;
  }
 }
  }
  .menu{
    flex:2;
    // background: teal;
  }
}

// MENU STYLING
.menu{
  display:flex;
  flex-direction: column;
  gap:2rem;
  h1{
    margin: 0 0.2rem;
    color: var(--dark-text);
  }
  .post{
    display: flex;
    flex-direction: column;
    gap:2rem;
    img{
      width:100%;
      height: 200px;
      object-fit: cover;
    }
    h2{
      color: var(--dark-text);
    }
    button{
      width: max-content;
      background: transparent;
      border: none;
      
      .fancy {
        
        background-color: transparent;
        border: 2px solid var(--dark-text);
        border-radius: 0;
        box-sizing: border-box;
        color: var(--light-text);
        cursor: pointer;
        display: inline-block;
        // float: right;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 1.25em 2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        transition: all 0.3s ease-in-out;
        user-select: none;
        font-size: 13px;
       }
       
       .fancy::before {
        content: " ";
        width: 1.5625rem;
        height: 2px;
        background: var(--dark-text);
        top: 50%;
        left: 1.5em;
        position: absolute;
        transform: translateY(-50%);
        transform-origin: center;
        transition: background 0.3s linear, width 0.3s linear;
       }
       
       .fancy .text {
        font-size: 1.125em;
        line-height: 1.33333em;
        padding-left: 2em;
        display: block;
        text-align: left;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--dark-text);
       }
       
       .fancy .top-key {
        height: 2px;
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, left 0.3s ease-out;
       }
       
       .fancy .bottom-key-1 {
        height: 2px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
       }
       
       .fancy .bottom-key-2 {
        height: 2px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
       }
       
       .fancy:hover {
        color: var(--light-text);
        background: var(--dark-text);
       }
       
       .fancy:hover::before {
        width: 0.9375rem;
        background: var(--light-text);
       }
       
       .fancy:hover .text {
        color: var(--light-text);
        padding-left: 1.5em;
       }
       
       .fancy:hover .top-key {
        left: -2px;
        width: 0px;
       }
       
       .fancy:hover .bottom-key-1,
        .fancy:hover .bottom-key-2 {
        right: 0;
        width: 0;
       }
    }
  }
}

// WRITE PAGE STYLING
.write_container{
  height: 100%;
  margin-top: 0.6rem;
  display: flex;
  gap:20px;
  // background: blue;
.write_content{
flex:5;
display:flex;
flex-direction: column;
gap:1rem;
input{
  height:40px;
  width:100%;
outline: none;
font-size: 16px;
padding: 0.2em 0.4em;
border: 1px solid var(--light-grey);
}
.write_editor{
  height: 350px;
  // overflow: scroll;
  border: 1px solid var(  --light-grey);
  .editor{
    height: 100%;
    border: none;
    overflow: hidden;
  }
}
}
.write_menu{
  flex:2;
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  justify-content: space-between;
  // background: teal;  
  .item_1{
    display: flex;
    flex-direction: column;
    gap:0.5em;
    span{
      display: flex;
      justify-content: space-between;
    gap:2rem;
      align-items: center;
      width:200px;
    }
    select{
      border: none;
      padding:0.4em;
      outline:none;
      cursor:pointer;
      font-size: 16px;
      // background: var(--dark-green);
    }
    // background: lime;
    label{
      display: flex;
      gap:0.4em;
      align-items: baseline;
     
      cursor: pointer;
      p{
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
    .buttons{
      display: flex;
      gap:2em;
      margin: 0.3em 0;
      button{
        cursor: pointer;
      }
      .update, .cancel{
        background: var(--light-blue);
        color: var(--light-text);
        border: none;
        border-radius: 4px;
        width: max-content;
        padding: 0.8rem 1rem;
        font-size: 18px;
        font-weight: 200;
        // cursor: pointer;

        &:hover{
          background: var(--dark-text);
        
        }
      }
      .cancel{
        background: var(--error-msg);
      }
      .publish {
        // text-transform: uppercase;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #183153;
        font-family: "Montserrat", sans-serif;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border: none;
       }
       
       .publish:after {
        content: " ";
        width: 0%;
        height: 100%;
        background: var(--dark-green);
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
       }
       
       .publish:hover::after {
        right: auto;
        left: 0;
        width: 100%;
       }
       
       .publish span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 18px 25px;
        color: #fff;
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 0.3em;
        z-index: 20;
        transition: all 0.3s ease-in-out;
       }
       
       .publish:hover span {
        color: var(--light-text);
        animation: scaleUp 0.3s ease-in-out;
       }
       
       @keyframes scaleUp {
        0% {
         transform: scale(1);
        }
       
        50% {
         transform: scale(0.95);
        }
       
        100% {
         transform: scale(1);
        }
       }
       
    }
  }
  .item_2{
    display: flex;
    flex-direction: column;
    gap:0.1em;
    .radio_items{
      overflow-y: scroll;
      // background:teal;
      height: 180px;
      .item_radio{
        display: flex;
        align-items: center;
        gap:0.6em;
        
        // cursor:pointer;
      }
    }
   
  }
}
}

  //  FOOTERS STYLING
  .footer_container{
    width: 100%;
    margin:1.2em  auto;
    padding:0.4em;
    padding-left: 0;
    .footer_wrapper{
      margin-bottom: 1em;
      display:flex;
      flex-direction: column;
      gap:0.4em;
      .privacy{
        text-decoration: underline;
      }
    }
  }

    }
}