*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --light-green: #57C5B6;
  --dark-green: #159895;
  --light-blue: #1A5F7A;
  --dark-blue: #002B5B;
  --light-text: #f8f8f8;
  --dark-text: #181818;
  --error-msg: #CD113B;
}

.App{
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
    .app_wrapper{
        background:#f6f6f6;
        padding: 0.6em;
   width:90%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  //  align-items: center;
.link{
  text-decoration: none;
  color: inherit;
}
// LOGIN AND REGISTER STYLING
.auth_container{
  // background: lime;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth_wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items:center ;
    // background: blue;
    padding: 2em;
    // width:50%;
    .auth_title{
      h2{
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
      }
      p{
        font-size: 14px;
        .term_redirect{
          text-decoration: underline;
          text-underline-offset: 2px;
        
        }
      }
    
    }
    .auth_form{
      form{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        label{
          font-size: 18px;
          margin: 0.3em 0;
        }
        input{
          border: none;
          border: 1px solid var(--dark-blue);
          width: 24rem;
          height: 2.5em;
          outline: none;
          font-size: 16px;
          padding: 0.4em;
          border-radius: 2px;
          background: #f8f8f8;
          // border-left: 1px solid var(--dark-blue);
        }
        .error_message{
          color:var(--error-msg);
          margin: 0.3em 0;
          display: none;
        }
        // button{
        //   // border: none;
        //   // width: max-content;
        //   // padding:0.4em;
        //   // border-radius: 2px;
        //   // border: 1px solid var(--light-blue);
        //   // background: var(--light-blue);
        //   // color: var(--light-text);
        //   // cursor: pointer;
        //   // h6{
        //   //   font-size: 16px;
        //   // font-weight: 300;
        //   // }
        // }
        .btn {
          margin-top: 0.8em;
          font-size: 17px;
          background: transparent;
          border: none;
          border-left: 1px solid var(--dark-blue);
          border-right: 1px solid var(--dark-blue);
          border-radius:4px;
          padding: 1em 1.5em;
          color: var(--dark-text);
          text-transform: uppercase;
          position: relative;
          transition: .5s ease;
          cursor: pointer;
          width: max-content;
          
        }
        
        .btn::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 2px;
          width: 0;
          background-color: var(--dark-blue);
          transition: .5s ease;
          
        }
        
        .btn:hover {
          color: var(--light-text);
          transition-delay: .5s;
          z-index: 1;
          border-left: 1px solid var(--dark-blue);
          border-right: 1px solid var(--dark-blue);
          border-radius:0;
        }
        
        .btn:hover::before {
          width: 100%;
        }
        
        .btn::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: var(--dark-blue);
          transition: .4s ease;
          z-index: -1;
        }
        
        .btn:hover::after {
          height: 100%;
          transition-delay: 0.4s;
        }
       
        // align-items: center;
      }
      .redirect{
        margin: 0.8em 0;
        span{
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }
}
  //  NAVBAR STYLING
   .nav_container{
// background: firebrick;
margin: 1rem 0;
padding: 0.4rem;
.nav_wrapper{

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    .logo{
      flex:1;
      display: flex;
      align-items: baseline;
      .logo_dot{
        height:10px;
        width:10px;
        // border-radius: 50%; 
        margin: 0 0.2em;
        background: var(--dark-green);
      }
    }
    .links{
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6{
        font-size: 16px;
        font-weight: 300;
      }
      .link{
        &:hover{
          text-decoration: 2px solid underline;
          text-underline-offset: 4px;
        }
      }
      span{
        display: flex;
        gap: 1rem;
        justify-content: space-around;
      }
      .write{
        background: var(--light-blue);
        border-radius: 50%;
        padding:0.6em;
        height: 3.5em;
        width:3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
background: var(--dark-blue);
color: var(--light-text);
        }
        .link{
          text-decoration: none;
        }
      }
    }
  }
}
   }

  //  FOOTERS STYLING
  .footer_container{
    width: 100%;
    margin: auto;
    padding:0.4em;
    .footer_wrapper{
      display:flex;
      flex-direction: column;
      gap:0.4em;
      .privacy{
        text-decoration: underline;
      }
    }
  }

    }
}